* {
    box-sizing: border-box;
    font-family: 'Passions Conflict', 'cursive';
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --main-color: rgb(33, 150, 243);
    --main-transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* start header */
.header {
    background-color: white;
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .elzero {
    flex: 1;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    color: var(--main-color);
}

@media (max-width:425px) {
    .header a {
        text-align: center;
    }
}

.header .nav {
    display: flex;
    padding: 0;
}
.header .nav > li:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}
.header .nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: x-large;
    color: black;
    height: 35px;
    position: relative;
    color: black;
    padding: 20px 30px;
    font-size: 18px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    overflow: hidden;
}

.header .nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transition: var(--main-transition);
    top: 0;
    left: -100%;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.header .nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .nav>li>a:hover::before {
    left: 0;
}

@media (max-width:425px) {
    .header .nav>li>a {
        padding: 0 6px;
    }
}

.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
    .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
    }
}
.header .mega-menu .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .header .mega-menu .image {
    display: none;
    }
}
.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}
.header .mega-menu .links li {
    position: relative;
}
.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
    }
}
.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
    width: 100%;
}
.header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.header .mega-menu .links li a i {
    margin-right: 10px;
}
/* end header */
/* start landing */
.landing {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    align-items: center;
    padding-bottom: 110px;
}

.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

.landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}

.landing .photo img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
    -webkit-animation: up-and-down 5s linear infinite;
}

@media (max-width:768px) {
    .landing .photo img {
        display: none;
    }
}

.fall {
    color: var(--main-color);
    position: absolute;
    left: 50%;
    bottom: 0px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.landing i {
    animation: bouncing 1.5s linear infinite;
    -webkit-animation: bouncing 1.5s linear infinite;
}

/* end landing */
/* start articles */
.articles {
    padding-top: 70px;
    padding-bottom: 70px;
}

.main {
    border: 1px solid #666;
    width: fit-content;
    margin: 0 auto 80px;
    text-align: center;
    font-size: xx-large;
    padding: 20px;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.main::before,
.main::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.main::before {
    left: -30px;
}

.main::after {
    right: -25px;
}

.main:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
    -webkit-animation: left-move 0.5s linear forwards;
}

.main:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
    -webkit-animation: right-move 0.5s linear forwards;
}

.main:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 42px;
}

.articles .box {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    transition: transform var(--main-transition), box shadow var(--main-transition);
    overflow: hidden;
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .container .box img {
    width: 100%;
    max-width: 100%;
}

.articles .container .box .test-title {
    padding: 20px;
}

.articles .box .test-title h3 {
    margin: 0;
}

.articles .box .test-title p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}

.articles .read-more {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .read-more a {
    text-decoration: none;
    font-weight: 600;
    color: var(--main-color);
}

.articles .read-more i {
    color: var(--main-color);
}

.articles .box:hover .read-more i {
    animation: moving-arrow 0.6s linear infinite;
    -webkit-animation: moving-arrow 0.6s linear infinite;
}

/* end articles */
/* start gallery */
.gallery {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #ececec;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.gallery .box2 {
    padding: 15px;
    background-color: white;
}

.gallery .box2 .img {
    position: relative;
    overflow: hidden;
}

.gallery .box2 .img::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}

.gallery .box2 .img:hover::before {
    animation: flashing 0.7s;
    -webkit-animation: flashing 0.7s;
}

.gallery .box2 img {
    width: 100%;
    height: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.gallery .box2 .img:hover img {
    transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    -moz-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
    -o-transform: rotate(5deg) scale(1.1);
}

/* end gallery */
/* start FEATURES */
.FEATURES {
    padding-top: 70px;
    padding-bottom: 70px;
}

.FEATURES .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.FEATURES .box3 {
    text-align: center;
    border: 1px solid #ccc;
    width: 100%;
    height: 730px;
}

@media (max-width:1024px) {
    .FEATURES .box3 {
        height: 780px;
    }
}

.FEATURES .box3 img {
    width: 100%;
    height: 100%;
}

.FEATURES .box3 .img {
    position: relative;
    overflow: hidden;
}

.FEATURES .box3 .img::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.FEATURES .box3 .img::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.FEATURES .box3:hover .img::after {
    border-width: 170px 500px 170px 0;
}

.FEATURES .box3 h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.FEATURES .box3 h2::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 53px;
    width: 145px;
    height: 6px;
}

.FEATURES .Quality .img::before {
    background-color: rgba(244, 63, 54, 0.5);
}

.FEATURES .Time .img::before {
    background-color: rgba(0, 150, 135, 0.5);
}

.FEATURES .Passion .img::before {
    background-color: rgba(3, 168, 244, 0.5);
}

.FEATURES .Quality h2::before {
    background-color: #f44036;
}

.FEATURES .Time h2::before {
    background-color: #009688;
    width: 100px;
}

.FEATURES .Passion h2::before {
    background-color: #03a9f4;
}

.FEATURES .box3 p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}

.FEATURES .box3 a {
    display: block;
    border: 3px solid transparent;
    text-decoration: none;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.FEATURES .box3 .Quality {
    border-color: #f44036;
    color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.FEATURES .box3:hover .Quality {
    background-position: left bottom;
    color: white;
}

.FEATURES .box3 .Time {
    border-color: #009688;
    color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.FEATURES .box3:hover .Time {
    background-position: left bottom;
    color: white;
}

.FEATURES .box3 .Passion {
    border-color: #03a9f4;
    color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.FEATURES .box3:hover .Passion {
    background-position: left bottom;
    color: white;
}

/* end FEATURES */
/* start testimonials */
.testimonials {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #ececec;
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 20px;
}

.testimonials .box {
    background-color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
}

.testimonials .box img {
    width: 30%;
    height: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 7px solid #ececec;
    position: absolute;
    left: 268px;
    top: -14px;
}

@media (max-width:425px) {
    .testimonials .box img {
        left: 210px
    }
}

.testimonials .box h3 {
    padding-left: 10px;
    margin-bottom: 10px;
}

.testimonials .box .title {
    padding-left: 10px;
    opacity: 0.7;
}

.testimonials .box .fas {
    color: #ffc107;
    margin-top: 10px;
}

.testimonials .box .par {
    padding-left: 10px;
}

.testimonials .box p {
    padding-left: 10px;
    opacity: 0.7;
    line-height: 1.4;
}

/* end testimonials */
/* start team */
.team {
    padding-top: 70px;
    padding-bottom: 70px;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team .box {
    position: relative;
}

.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}

.team .box::before,
.team .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.team .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}

.team .box:hover::after {
    width: calc(100% - 60px);
}

.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team .box .data img {
    width: calc(100% - 60px);
    height: 90%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.team .box:hover img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.team .box .logo {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    width: 0px;
}

.team .box .logo i {
    color: #777;
    padding-bottom: 35px;
}

.team .box .text h3 {
    color: var(--main-color);
    padding-left: 70px;
}

.team .box:hover .text h3 {
    color: #777;
}

.team .box .text p {
    color: #777;
    padding-left: 70px;
}

/* end team */
/* start services */
.services {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #ececec;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .box {
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.services .box:hover {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    border-top: 3px solid var(--main-color);
}

.services .box i {
    color: rgba(119, 119, 119, 0.329);
    padding-left: 40%;
    padding-top: 15px;

}

.services .box h3 {
    text-align: center;
    font-size: x-large;
    color: var(--main-color);
}

.services .box .details {
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
}

.services .box .details a {
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.services .box .details a::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.services .box .details a::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
}

/* end services */
/* start our skills */
.our-skills {
    padding-top: 70px;
    padding-bottom: 70px;
}

.our-skills .img {
    display: flex;
    width: 100%;
    height: 100%;
}

@media (max-width:768px) {
    .our-skills img {
        display: none;
    }
}

.our-skills .skills {
    flex: 1;
}

.our-skills .prog-holder {
    margin-bottom: 50px;
}

.our-skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.our-skills .prog-holder .prog {
    background-color: #dedadc;
    height: 35px;
}

.our-skills .prog-holder .prog span {
    display: block;
    background-color: #19c8fa;
    height: 100%;
    position: relative;
}

.our-skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: white;
    border: 1px solid black;
    color: var(--main-color);
    bottom: 38px;
    right: 0;
    padding: 5px 0;
    width: 40px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* end our skills */
/* start how it works */
.how-it-works {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    background-color: #ececec;
}

.how-it-works .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .work-steps .container {
        flex-direction: column;
    }
}

.how-it-works img {
    max-width: 100%;
    margin-right: 100px;
}

@media (max-width: 991px) {
    .how-it-works img {
        display: none;
    }
}

.how-it-works .info .box {
    background-color: #f6f5f5;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.how-it-works .info .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(119, 119, 119, 0.2);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}

.how-it-works .info .box:hover::before {
    animation: flashing 0.7s;
    -webkit-animation: flashing 0.7s;
}

.how-it-works .info .box img {
    width: 64px;
    margin-right: 30px;
}

.how-it-works .info .box .text h3 {
    margin: 0;
    font-size: 22px;
}

.how-it-works .info .box .text p {
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}

/* end how it works */
/* start animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* end animation */
/* start animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* end animation */
/* start animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* end animation */
/* start animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* end animation */
/* start latest events */
.events {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
}

.points-up {
    background-image: url(/photo/dots.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 210px;
    height: 200px;
    right: 14px;
    top: 170px;
}

.points-down {
    background-image: url(/photo/dots.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 210px;
    height: 200px;
    left: 0px;
    bottom: 160px;
}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events img {
    max-width: 450px;
}

@media (max-width:768px) {
    .events img {
        display: none;
    }
}

.events .info {
    flex: 1;
}

.events .times {
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
}

.events .info .times .box {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 80px;
    height: 100px;
}

@media (max-width:320px) {
    .events .info .times .box {
        width: 65px;
    }
}

.events .info .times .box span:first-child {
    font-size: 35px;
    color: var(--main-color);
    font-weight: bold;
    padding-bottom: 9px;
    border-bottom: 1px solid #d4d4d4;
    position: relative;
    top: 15px;
}

.events .info .times .box span:last-child {
    padding: 3px 10px;
    font-size: 13px;
    position: relative;
    top: 35px;
}

.events .info h3 {
    text-align: center;
    margin: 40px 0 0;
    font-size: 30px;
}

.events .info p {
    text-align: center;
    line-height: 1.7;
    font-size: 19px;
    color: #777;
}

.events .email {
    width: 100%;
    margin-top: 50px;
}

.events .email form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .events .email form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}

.events .email form input[type="email"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    flex: 1;
    caret-color: var(--main-color);
}

.events .email form input[type="submit"] {
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 20px;
}

/* end latest events */
/* start pricing-plans */
.pricing-plans {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #ececec;
    position: relative;
}

.pricing-plans .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.pricing-plans .box {
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%);
    background: linear-gradient(to right, #e4e4e4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    z-index: 1;
}

.pricing-plans .Advanced {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

.pricing-plans .box:hover {
    background-position: left bottom;
}

.pricing-plans .box h2 {
    text-align: center;
}

.pricing-plans .box img {
    width: 80px;
    margin: 30px auto;
    display: flex;
}

.pricing-plans .box .money {
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 35%;
    margin-top: 10px;
    color: var(--main-color);
}

.pricing-plans .box .per {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 38%;
    margin-top: 10px;
    opacity: 0.6;
}

ul {
    padding: 0;
}

.pricing-plans .box ul li {
    padding: 20px;
    border-top: 1px solid rgb(238, 238, 238);
}

.pricing-plans .box a {
    display: block;
    text-decoration: none;
    width: fit-content;
    color: var(--main-color);
    font-weight: bold;
    border: 2px solid var(--main-color);
    margin: 30px auto 40px;
    padding: 15px 20px;
    border-radius: 6px;
    transition: var(--main-transition);
}

.pricing-plans .box a:hover {
    background-color: var(--main-color);
    color: white;
}

/* end pricing-plans */
/* start TOP-VIDEOS */
.TOP-VIDEOS {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
}
.TOP-VIDEOS .holder {
    display: flex;
    justify-content: center;
    background-color: #e4e4e4;
    border: 1px solid #ddd;
}
@media (max-width: 991px) {
    .TOP-VIDEOS .holder {
    flex-direction: column;
    }
}
.TOP-VIDEOS .holder .list {
    min-width: 300px;
    background-color: white;
}
.TOP-VIDEOS .holder .list .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
}
.TOP-VIDEOS .holder .list ul li {
    padding: 20px;
    border-top: 1px solid #e4e4e4;
    cursor: pointer;
    transition: var(--main-transition);
}
.TOP-VIDEOS .holder .list ul li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}
.TOP-VIDEOS .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}
.TOP-VIDEOS .holder .preview {
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.TOP-VIDEOS .holder .preview img {
    max-width: 100%;
}
.TOP-VIDEOS .holder .preview .info {
    padding: 20px;
    background-color: white;
    margin-top: 10px;
}
/* end TOP-VIDEOS */
/* start stats */
.stats {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    background-image: url(/photo/stats.jpg);
    background-size: cover;
    min-height: 300px;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}

.stats h2 {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.stats .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .box {
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    position: relative;
    opacity: 0.8;
}

.stats .box span {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stats .box p {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

/* end stats */
/* start discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .image {
    background-image: url(/photo/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
    -webkit-animation: change-background 10s linear infinite;
}

@media (max-width: 991px) {
    .discount .image {
        flex-basis: 100%;
    }
}

.discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}

.discount .content {
    text-align: center;
    padding: 0 20px;
}

.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount .content img {
    width: 300px;
    max-width: 100%;
}

.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    padding-bottom: 50px;
}

.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}

.discount .form textarea.input {
    resize: none;
    height: 200px;
}

.discount .form [type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}

@media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
    }
}

/* end discount */
/* start footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .box .social {
    display: flex;
}
.footer .box .social .facebook:hover{
    background-color: #03a9f4;
}
.footer .box .social .twitter:hover{
    background-color: #19c8fa;
}
.footer .box .social .youtube:hover{
    background-color: #f44036;
}
.footer .box .social li {
    margin-right: 10px;
}
.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}
.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
a{
    text-decoration: none;
}
.footer .box .links li a {
    color: #b9b9b9;
}
.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}
.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.footer .box .links li:hover{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}
.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}
.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}
.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}
.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
/* end footer */
/* start animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes change-background {

    0%,
    100% {
        background-image: url(/photo/discount-background1.jpg);
    }

    50% {
        background-image: url(/photo/discount-background2.jpg);
    }
}

/* end animation */